*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


:root{
    --color1:rgb(252, 231, 255);
    --color2:rgb(250, 214, 255);
    --color3:rgb(212, 157, 219);
    --color4:rgb(150, 31, 150);
}

body{
    background-color: var(--color1);
}

/* Header */

.hud{
    width: 100%;
    background-color: var(--color3);
    color: #fff;
    font-size: 16px;
    margin: 0px;
    height: auto;
}



.icons{
    padding-top: 4px;
    color: #fff;
    display: flex;
    font-size: 8px;
    justify-content:space-around ;
    margin-bottom: 8px;
    align-items: center;
}

.icons #search{
    display: none;
}

.menu{
    display: none;
}

.inpt{
    display: flex;
    justify-content: center;
    padding: 8px;
}

header input{
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    width: 85%;
    background-color: var(--color2);
    padding: 4px 8px;

}

header input::placeholder{
    color: rgb(0, 0, 0, 0.8);
}

header input:focus-visible{
    padding: 4px 8px;
}


/* Sobre a loja */
.about{
    background-color: var(--color2);
    margin: 16px 8px;
    border: 1px solid rgb(0,0,0, 0.2);
    border-radius: 4px;
}

.about h2{
    border-bottom: 1px solid var(--color4);
    margin: 8px;
    margin-bottom: 16px;
    padding-bottom: 4px;
}

.about img{
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.about p{
    margin: 4px;
}



/* Produtos*/
.container{
    margin: 8px;
}

.product h2{
    margin-bottom: 4px;
    border-top: 2px solid var(--color3);
}

.new, .promotion{
    margin-bottom: 32px;
}

section{
    background-color: var(--color2);
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0,0,0, 0.2);

    border-radius: 4px;
}

section img{
    width: 100%;
    margin-bottom: 4px;
}

section h3, section p{
    margin-bottom: 4px;
    padding: 0px 1%;
}


section button{
    width: calc(100% - margin);
    height: 32px;
    background-color: var(--color3);
    border-radius: 4px;
    border: 1px solid rgb(0,0,0, 0.7);
    color: var(--color4);
    font-weight:550;
    font-size: 16px;
    margin: 1%;
    box-sizing: content-box;
}




footer{
    height: 32px;
    display: flex;
    align-items: center;
}

footer span{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}

/*tablet*/
@media screen and (min-width: 641px){
    .hud{
        width: 100%;
        background-color: var(--color3);
        color: #fff;
        font-size: 16px;
        height: auto;
    }

    
    .icons{
        padding-top: 4px;
        color: #fff;
        display: flex;
        font-size: 16px;
        justify-content:space-around ;
        margin-bottom: 8px;
        align-items: center;

    }



    .new, .promotion{
        display: grid;
        grid-template-columns: repeat(2, 49%);
        row-gap: 1%;
        column-gap: 1%;
    }

}


/*laptop*/
@media screen and (min-width: 1024px){

    .hud{
        font-size: 1.5em;
    }

    .icons{
        padding-top: 4px;
        color: #fff;
        display: flex;
        font-size: 16px;
        justify-content:space-around ;
        margin-bottom: 8px;
        align-items: center;
    }

    .icons > span{
        margin-left: 32px;
    }

    .icons nav{
        display: flex;
    }

    .icons #search{
        margin-right: 32px;
        display: block;
    }

    .menu{
        padding-top: 8px;
        padding-bottom: 4px;
        border-top: 1px solid;
        display: flex;
        padding-left: 64px
    }

    .menu a{
        margin-left: 64px;
        font-size: 24px;
        text-decoration: none;
        color: #fff;
    }

    .menu a:hover{
        text-decoration: underline;
        box-sizing: border-box;
    }

    .inpt{
        display: none;
    }

    /* Sobre a loja */
    .about{
        background-color: var(--color2);
        margin: 16px 8px;
        border: 1px solid rgb(0,0,0, 0.2);
        border-radius: 4px;

    }

    .about div{
        display: flex;
    }

    .about img, .about p{
        width: 50%;
        margin: 4px;
    }


    .new, .promotion{
        display: grid;
        grid-template-columns: repeat(4, 24.25%);
        row-gap: 1%;
        column-gap: 1%;
    }



}



